[bumpversion]
current_version = 0.3.23
commit = True
tag = True
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(\-(?P<release>[a-z]+)\.(?P<build>\d+))?
serialize = 
	{major}.{minor}.{patch}-{release}.{build}
	{major}.{minor}.{patch}
tag_name = {new_version}

[bumpversion:part:release]
optional_value = alpha
values = 
	alpha
	beta
	rc
	final

[bumpversion:file:src/eodash_catalog/__about__.py]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:Dockerfile]
search = version="{current_version}"
replace = version="{new_version}"
